################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JQuery_advanced/9-index.html
/node_modules
/Cookies_local_storage/node_modules
