/* assigns margins to specific tags using a mixin */
@mixin div-marg1 {
    margin-left: 15px;
    margin-right: 15px;
}

@mixin body-marg1 {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    @include body-marg1;
}

div {
    @include div-marg1;
}